<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/Factored_Test_XXXXX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import pandas as pd

from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split

In [ ]:
path_data = '/content/drive/MyDrive/Colab Notebooks/00_Acamica/penguins.csv'

In [ ]:
df = pd.read_csv(path_data, sep =',')
df.head()

   beak_length_mm  flipper_length_mm species
0            39.1              181.0  Adelie
1            39.5              186.0  Adelie
2            40.3              195.0  Adelie
3            36.7              193.0  Adelie
4            39.3              190.0  Adelie

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   beak_length_mm     219 non-null    float64
 1   flipper_length_mm  219 non-null    float64
 2   species            219 non-null    object
dtypes: float64(2), object(1)
memory usage: 5.3+ KB

In [ ]:
df.species.value_counts()

Adelie       151
Chinstrap     68
Name: species, dtype: int64

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
df

     beak_length_mm  flipper_length_mm    species
0              39.1              181.0     Adelie
1              39.5              186.0     Adelie
2              40.3              195.0     Adelie
3              36.7              193.0     Adelie
4              39.3              190.0     Adelie
..              ...                ...        ...
214            55.8              207.0  Chinstrap
215            43.5              202.0  Chinstrap
216            49.6              193.0  Chinstrap
217            50.8              210.0  Chinstrap
218            50.2              198.0  Chinstrap

[219 rows x 3 columns]

In [ ]:
X = df[['beak_length_mm', 'flipper_length_mm']]
y = df['species']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=33)

In [ ]:
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
y_pred_test = clf.predict(X_test)

In [ ]:
y_pred_train = clf.predict(X_train)

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

      Adelie       0.85      1.00      0.92        35
   Chinstrap       1.00      0.70      0.82        20

    accuracy                           0.89        55
   macro avg       0.93      0.85      0.87        55
weighted avg       0.91      0.89      0.89        55

In [ ]:
print(classification_report(y_train, y_pred_train))

              precision    recall  f1-score   support

      Adelie       1.00      1.00      1.00       116
   Chinstrap       1.00      1.00      1.00        48

    accuracy                           1.00       164
   macro avg       1.00      1.00      1.00       164
weighted avg       1.00      1.00      1.00       164

In [ ]:
>>> from sklearn.model_selection import train_test_split
>>> from sklearn.metrics import accuracy_score
>>> iris = datasets.load_iris()
>>> X, y = iris.data[:, :2], iris.target
>>> X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=33)
>>> scaler = preprocessing.StandardScaler().fit(X_train)
>>> X_train = scaler.transform(X_train)
>>> X_test = scaler.transform(X_test)
>>> knn = neighbors.KNeighborsClassifier(n_neighbors=5)
>>> knn.fit(X_train, y_train)
>>> y_pred = knn.predict(X_test)
>>> accuracy_score(y_test, y_pred)