<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/Exchange/AV_Test_Entrega.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
path_github = 'https://raw.githubusercontent.com/alexandergribenchenko/Data_Science_Toolkit/main/Exchange/entrega_sample.json'

In [2]:
import pandas as pd

In [3]:
df = pd.read_json(path_github, orient='records', lines=True)
df

,id_alert,snapshot_date,flight_date,rt,region,hub,airline_code,asks
0,20220227ADZAXMVH202203,20220227,202203,ADZAXM,DOM_CO,EXBOGDOM,VH,399761
1,20220227ADZMIAAA202201,20220227,202201,ADZMIA,NAMSAM,EXBOGINT,AA,2010045
2,20220227ADZPTYCM202201,20220227,202201,ADZPTY,CAMSAM,EXBOGINT,CM,587707
3,20220227ADZPVA9R202201,20220227,202201,ADZPVA,DOM_CO,EXBOGDOM,9R,219914
4,20220227AMSBOGKL202201,20220227,202201,AMSBOG,EURALL,BOGINT,KL,67586230
...,...,...,...,...,...,...,...,...
2916,20230129RIHYULTS202311,20230129,202311,RIHYUL,CAMNAM,OTHS,TS,13230559
2917,20230129RIHYYZTS202312,20230129,202312,RIHYYZ,CAMNAM,OTHS,TS,6228406
2918,20230129RTBYYZWS202312,20230129,202312,RTBYYZ,CAMNAM,OTHS,WS,3276573
2919,20230129SJOYULTS202311,20230129,202311,SJOYUL,CAMNAM,OTHS,TS,14526969
2920,20230129SJOYYZTS202312,20230129,202312,SJOYYZ,CAMNAM,OTHS,TS,8229387

In [4]:
df_flight_date_max_min = df.groupby(['airline_code', 'rt', 'region', 'hub', 'flight_date'], as_index=False).\
          agg(max_snapshot_date=('snapshot_date', 'max'),
              min_snapshot_date=('snapshot_date', 'min')
              ).\
          sort_values(by=['airline_code', 'rt'], ascending=[True,True])

df_flight_date_max_min

,airline_code,rt,region,hub,flight_date,max_snapshot_date,min_snapshot_date
0,2M,BZECUK,CAMCAM,OTHS,202201,20220227,20220213
1,2M,BZECYC,CAMCAM,OTHS,202203,20220424,20220227
2,2M,BZEDGA,CAMCAM,OTHS,202201,20220227,20220213
3,2M,BZEINB,CAMCAM,OTHS,202201,20220227,20220213
4,2M,BZEPLJ,CAMCAM,OTHS,202201,20220227,20220213
...,...,...,...,...,...,...,...
580,Y2,CTGJBQ,CARALL,EXBOGINT,202208,20220911,20220619
581,Y4,OAKSAL,CAMNAM,SAL,202303,20230326,20221204
582,~~,BLBUIO,CAMSAM,ECUINT,202305,20230507,20230507
583,~~,ETRUIO,DOM_EC,ECUDOM,202305,20230507,20230507
584,~~,LOHUIO,DOM_EC,ECUDOM,202305,20230507,20230507

In [5]:
df_flight_date_max_min['max_snapshot_date'] = pd.to_datetime(df_flight_date_max_min['max_snapshot_date'], format='%Y%m%d')
df_flight_date_max_min['min_snapshot_date'] = pd.to_datetime(df_flight_date_max_min['min_snapshot_date'], format='%Y%m%d')

In [6]:
df_flight_date_max_min

,airline_code,rt,region,hub,flight_date,max_snapshot_date,min_snapshot_date
0,2M,BZECUK,CAMCAM,OTHS,202201,2022-02-27,2022-02-13
1,2M,BZECYC,CAMCAM,OTHS,202203,2022-04-24,2022-02-27
2,2M,BZEDGA,CAMCAM,OTHS,202201,2022-02-27,2022-02-13
3,2M,BZEINB,CAMCAM,OTHS,202201,2022-02-27,2022-02-13
4,2M,BZEPLJ,CAMCAM,OTHS,202201,2022-02-27,2022-02-13
...,...,...,...,...,...,...,...
580,Y2,CTGJBQ,CARALL,EXBOGINT,202208,2022-09-11,2022-06-19
581,Y4,OAKSAL,CAMNAM,SAL,202303,2023-03-26,2022-12-04
582,~~,BLBUIO,CAMSAM,ECUINT,202305,2023-05-07,2023-05-07
583,~~,ETRUIO,DOM_EC,ECUDOM,202305,2023-05-07,2023-05-07
584,~~,LOHUIO,DOM_EC,ECUDOM,202305,2023-05-07,2023-05-07