<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/Load_Files/DS_PY_OW_01_Load_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Load files**

# 01. Load csv files in a Pandas Dataframe from Drive

In [9]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd

path_drive = '/content/drive/MyDrive/Colab Notebooks/00_Acamica/DS_Proyecto_01_Datos_Properati.csv'
df = pd.read_csv(path_drive, dtype=object)
df

# 02. Load csv files in a pandas Dataset from Github

In [21]:
import pandas as pd

path_github = 'https://raw.githubusercontent.com/alexandergribenchenko/Data_Science_Datasets/main/Kaggle_Titanic/gender_submission.csv'
df = pd.read_csv(path_github, dtype=object)
df

    PassengerId Survived
0           892        0
1           893        1
2           894        0
3           895        0
4           896        1
..          ...      ...
413        1305        0
414        1306        1
415        1307        0
416        1308        0
417        1309        0

[418 rows x 2 columns]

# 03. Load text files (.txt, .json, etc.) in str from Drive

# 04. Load text files (.txt, .json, etc.) in str from Github

In [18]:
import requests

path_github = 'https://raw.githubusercontent.com/alexandergribenchenko/Data_Science_Datasets/main/Text_Files/fun_prueba.txt'
# path_github = 'https://raw.githubusercontent.com/alexandergribenchenko/Data_Science_Datasets/main/Text_Files/configuracion.json'
req = requests.get(path_github)
load_text = req.text

In [19]:
type(load_text)

str

In [22]:
load_text

'def suma(a,b): \r\n\treturn a+b'

In [23]:
print(load_text)

def suma(a,b):
	return a+b