<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/Sklearn/DS_SKL_01_Save_Load_models_pickle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [1]:
import pandas as pd
import pickle
from sklearn.datasets import load_diabetes
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier

In [2]:
X, y = load_diabetes(return_X_y=True, as_frame=True)
X.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [3]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
model = XGBClassifier(random_state=0)
model.fit(X_train, y_train)

XGBClassifier(objective='multi:softprob')

# Save model

In [6]:
path_drive = '/content/drive/MyDrive/Colab Notebooks/model_test.pkl'

In [7]:
pickle.dump(model, open(path_drive, 'wb'))

# Load model

In [8]:
pickled_model = pickle.load(open(path_drive, 'rb'))

In [9]:
pickled_model.predict(X_test)

array([263., 173., 144., 118.,  48., 258.,  65., 225.,  70., 221., 151.,
       178., 116.,  72., 277., 200., 185.,  90., 101., 268., 178., 202.,
        66.,  52., 220., 173.,  87.,  65.,  48., 178., 202.,  69., 200.,
       139., 164., 131., 111., 124., 104., 242.,  83., 128., 115., 164.,
       178.,  78.,  90., 200., 111., 242., 124.,  70.,  39., 164., 233.,
       181., 139.,  52.,  84., 144., 144., 200., 140., 111., 225.,  96.,
       140., 268., 220.,  48.,  65., 164., 116.,  59.,  70., 258.,  97.,
       272., 245., 233., 233., 144.,  39., 277.,  77.,  64.,  59., 144.,
       142., 242., 178.,  66.,  90., 225.,  91., 143., 232., 242.,  69.,
        53.,  91.,  90.,  90.,  64., 308., 139., 262., 242., 113.,  53.,
       265.,  53., 258., 185.,  78., 168., 164., 200., 151.,  83., 168.,
        53.,  39., 151., 200., 111., 123.,  85., 140., 139., 233.,  52.,
       115.])