<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Self_Study/blob/main/Datetime/DS_Datetime_01_transformations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datetime transformations

In [1]:
from datetime import datetime
import pandas as pd

## 01. Str to Datetime

In [2]:
date_str = 'Feb 10, 2023'
format_str = '%b %d, %Y'
datetime_obj = datetime.strptime(date_str, format_str)
print(datetime_obj.date())
print(datetime_obj)

2023-02-10
2023-02-10 00:00:00

In [3]:
date_str = '05SEP2014:00:00:00.000'
format_str = '%d%b%Y:%H:%M:%S.%f'
datetime_obj = datetime.strptime(date_str, format_str)
print(datetime_obj.date())
print(datetime_obj)

2014-09-05
2014-09-05 00:00:00

In [4]:
date_str = '29/12/2017'
format_str = '%d/%m/%Y'
datetime_obj = datetime.strptime(date_str, format_str)
print(datetime_obj.date())
print(datetime_obj)

2017-12-29
2017-12-29 00:00:00

## 02. Datetime to str

In [5]:
datetime_example = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
print(datetime_example)
str_example = datetime_example.strftime('%y%m')
print(str_example)

2018-07-12 07:09:33
1807

## 03. Str to str (change format)

In [6]:
date_str_input = 'Feb 10, 2023' # The date - 29 Dec 2017
date_format_input = '%b %d, %Y'
date_format_output = '%y%m'
date_str_output = datetime.strptime(date_str_input, date_format_input).strftime(date_format_output)
date_str_output

'2302'

## 04. Datetime atributes

In [7]:
datetime_example = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
print(datetime_example)

2018-07-12 07:09:33

In [8]:
datetime_example.date()

datetime.date(2018, 7, 12)

In [9]:
print(datetime_example.date())

2018-07-12

In [10]:
datetime_example.year

2018

In [11]:
type(datetime_example.year)

int

## 05. Column Pandas: Str to Datetime

In [12]:
df = pd.DataFrame({'perro': ['Feb 10, 2023',
                                'Feb 10, 2023',
                                'Feb 10, 2023']})
df

          perro
0  Feb 10, 2023
1  Feb 10, 2023
2  Feb 10, 2023

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   perro   3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

Note que la función datetime es "smart", es decir, infiere sin que sea necesario el uso del parametro `format` pero se recomienda dar el formato para que sea más ágil.

In [14]:
# df['perro'] =  pd.to_datetime(df['perro'])

In [15]:
df['perro'] =  pd.to_datetime(df['perro'], format='%b %d, %Y')

In [16]:
df

       perro
0 2023-02-10
1 2023-02-10
2 2023-02-10

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   perro   3 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 152.0 bytes

## 06. Column Pandas: Str to str (change format)

In [18]:
df = pd.DataFrame({'perro': ['Feb 10, 2023',
                                'Feb 10, 2023',
                                'Feb 10, 2023']})
df

          perro
0  Feb 10, 2023
1  Feb 10, 2023
2  Feb 10, 2023

In [19]:
def transform_yymm(df, column):
  date_format_input = '%b %d, %Y'
  date_format_output = '%y%m'
  df[column+'_M']  = df[column].apply(lambda x: datetime.strptime(x, date_format_input).strftime(date_format_output))
  return df

In [21]:
df_output = transform_yymm(df, 'perro')
df_output

          perro perro_M
0  Feb 10, 2023    2302
1  Feb 10, 2023    2302
2  Feb 10, 2023    2302

In [22]:
df_output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   perro    3 non-null      object
 1   perro_M  3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

# Bibliography

- [Python strftime cheatsheet](https://strftime.org/)


<div class="reference">

<table cellpadding="0" cellspacing="0" border="0"><colgroup><col id="directive"> <col id="example"> <col id="description"></colgroup> 

<thead>

<tr>

<th>Code</th>

<th>Example</th>

<th>Description</th>

</tr>

</thead>

<tbody>

<tr>

<td>`%a`</td>

<td>`Sun`</td>

<td>Weekday as locale’s abbreviated name.</td>

</tr>

<tr>

<td>`%A`</td>

<td>`Sunday`</td>

<td>Weekday as locale’s full name.</td>

</tr>

<tr>

<td>`%w`</td>

<td>`0`</td>

<td>Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.</td>

</tr>

<tr>

<td>`%d`</td>

<td>`08`</td>

<td>Day of the month as a zero-padded decimal number.</td>

</tr>

<tr>

<td>`%-d`</td>

<td>`8`</td>

<td>Day of the month as a decimal number. (Platform specific)</td>

</tr>

<tr>

<td>`%b`</td>

<td>`Sep`</td>

<td>Month as locale’s abbreviated name.</td>

</tr>

<tr>

<td>`%B`</td>

<td>`September`</td>

<td>Month as locale’s full name.</td>

</tr>

<tr>

<td>`%m`</td>

<td>`09`</td>

<td>Month as a zero-padded decimal number.</td>

</tr>

<tr>

<td>`%-m`</td>

<td>`9`</td>

<td>Month as a decimal number. (Platform specific)</td>

</tr>

<tr>

<td>`%y`</td>

<td>`13`</td>

<td>Year without century as a zero-padded decimal number.</td>

</tr>

<tr>

<td>`%Y`</td>

<td>`2013`</td>

<td>Year with century as a decimal number.</td>

</tr>

<tr>

<td>`%H`</td>

<td>`07`</td>

<td>Hour (24-hour clock) as a zero-padded decimal number.</td>

</tr>

<tr>

<td>`%-H`</td>

<td>`7`</td>

<td>Hour (24-hour clock) as a decimal number. (Platform specific)</td>

</tr>

<tr>

<td>`%I`</td>

<td>`07`</td>

<td>Hour (12-hour clock) as a zero-padded decimal number.</td>

</tr>

<tr>

<td>`%-I`</td>

<td>`7`</td>

<td>Hour (12-hour clock) as a decimal number. (Platform specific)</td>

</tr>

<tr>

<td>`%p`</td>

<td>`AM`</td>

<td>Locale’s equivalent of either AM or PM.</td>

</tr>

<tr>

<td>`%M`</td>

<td>`06`</td>

<td>Minute as a zero-padded decimal number.</td>

</tr>

<tr>

<td>`%-M`</td>

<td>`6`</td>

<td>Minute as a decimal number. (Platform specific)</td>

</tr>

<tr>

<td>`%S`</td>

<td>`05`</td>

<td>Second as a zero-padded decimal number.</td>

</tr>

<tr>

<td>`%-S`</td>

<td>`5`</td>

<td>Second as a decimal number. (Platform specific)</td>

</tr>

<tr>

<td>`%f`</td>

<td>`000000`</td>

<td>Microsecond as a decimal number, zero-padded on the left.</td>

</tr>

<tr>

<td>`%z`</td>

<td>`+0000`</td>

<td>UTC offset in the form ±HHMM[SS[.ffffff]] (empty string if the object is naive).</td>

</tr>

<tr>

<td>`%Z`</td>

<td>`UTC`</td>

<td>Time zone name (empty string if the object is naive).</td>

</tr>

<tr>

<td>`%j`</td>

<td>`251`</td>

<td>Day of the year as a zero-padded decimal number.</td>

</tr>

<tr>

<td>`%-j`</td>

<td>`251`</td>

<td>Day of the year as a decimal number. (Platform specific)</td>

</tr>

<tr>

<td>`%U`</td>

<td>`36`</td>

<td>Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. All days in a new year preceding the first Sunday are considered to be in week 0.</td>

</tr>

<tr>

<td>`%W`</td>

<td>`35`</td>

<td>Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0.</td>

</tr>

<tr>

<td>`%c`</td>

<td>`Sun Sep 8 07:06:05 2013`</td>

<td>Locale’s appropriate date and time representation.</td>

</tr>

<tr>

<td>`%x`</td>

<td>`09/08/13`</td>

<td>Locale’s appropriate date representation.</td>

</tr>

<tr>

<td>`%X`</td>

<td>`07:06:05`</td>

<td>Locale’s appropriate time representation.</td>

</tr>

<tr>

<td>`%%`</td>

<td>`%`</td>

<td>A literal '%' character.</td>

</tr>

</tbody>

</table>

</div>