<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Self_Study/blob/main/Transformers_Sklearn/DS_TS_OW_01_Transformers_Sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Customized transformers in Sklearn

In [1]:
import pandas as pd
import numpy as np

from sklearn.base import BaseEstimator, TransformerMixin

## FeatureSelector

### ---> Dataframe sample:

In [2]:
a = ['gato', 'perro', 'mico']
b = [1, 2, 3]
c = [11.11, 22.22, 33.33]

df = pd.DataFrame(list(zip(a,b,c)), 
                   columns=['aaa','bbb','ccc'])
df

     aaa  bbb    ccc
0   gato    1  11.11
1  perro    2  22.22
2   mico    3  33.33

### ---> Class:

In [3]:
params_FeatureSelector = {}
params_FeatureSelector['feature_names']= ['aaa','bbb']
params_FeatureSelector

{'feature_names': ['aaa', 'bbb']}

In [4]:
class FeatureSelector(BaseEstimator, TransformerMixin):
    
    def __init__(self, params_FeatureSelector):
        self.feature_names = params_FeatureSelector['feature_names'] 
    
    def fit(self, X, y = None):
        return self 
    
    def transform(self, X, y = None):
        return X[self.feature_names]

In [5]:
Transformer_FeatureSelector = FeatureSelector(params_FeatureSelector)

In [6]:
df_transformed = Transformer_FeatureSelector.transform(df)
df_transformed

     aaa  bbb
0   gato    1
1  perro    2
2   mico    3