<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/Text_tools/DS_TT_OW_02_Ejecutar_texto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
for k in range(5):
    exec(f'cat_{k} = k*2')

print(cat_0, cat_1, cat_2, cat_3, cat_4)

0 2 4 6 8

In [19]:
text_function = 'def suma(a,b):\n\treturn a+b'

In [20]:
print(text_function)

def suma(a,b):
	return a+b

In [21]:
exec(text_function)

In [22]:
suma(2,3)

5