<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/Pandas/DS_Pandas_02_apply_map_fuctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01. apply Uses

## 01.01. Use: Analogue to CASE in SQL

In [2]:
import pandas as pd
import numpy as np

In [21]:
dict_input = { 'col_01': [1,2,3,4], 
               'col_02': ['gato','perro','gato','perro'],
               'col_03': [1,5,6,7]
             }

df = pd.DataFrame.from_dict(dict_input)
df

   col_01 col_02  col_03
0       1   gato       1
1       2  perro       5
2       3   gato       6
3       4  perro       7

In [24]:
df['Comparador'] = df.apply(lambda x: 'iguales' if x['col_01'] == x['col_03'] 
                                                       else x['col_02'], 
                                                       axis=1)
df

   col_01 col_02  col_03 Comparador
0       1   gato       1    iguales
1       2  perro       5      perro
2       3   gato       6       gato
3       4  perro       7      perro

# 02. map uses

# 03. applymap uses

# Bibliography

- [Introduction to Pandas apply, applymap and map](https://towardsdatascience.com/introduction-to-pandas-apply-applymap-and-map-5d3e044e93ff)