<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/Pandas/DS_Pandas_05_Reshape_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funciones para hacer reshape de dataframes

**1. Wide to long**

- pandas.melt(): Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.

-pandas.wide_to_long(): is another function that can help us transform the data from wide to long. This function is less flexible but more user-friendly than melt.

- df.stack(): Return a reshaped DataFrame or Series having a multi-level index with one or more new inner-most levels compared to the current DataFrame. 


**2. Long to wide**
- df.pivot(): method allows us to reshape the data from a long to a wide format. It returns a reshaped DataFrame organized by given unique index or column values.

# Bibliografía

- [How to Reshape a Pandas DataFrame](https://medium.com/towards-data-science/how-to-reshape-a-pandas-dataframe-98b42c428a8)
- [Reshaping a Pandas Dataframe: Long-to-Wide and Vice Versa](https://towardsdatascience.com/reshaping-a-pandas-dataframe-long-to-wide-and-vice-versa-517c7f0995ad#:~:text=To%20summarize%2C%20if%20you%20need,melt()%20.)

# Librerías a importar

In [1]:
import pandas as pd
import math
import numpy as np

# 01. Método df.stack() (reshape a la forma: fila , columna, valor)

In [7]:
df = pd.DataFrame([[0, 1, 3, 4], ['mico', 'perro', 'gato', 'oso']],
                                    index=['f1', 'f2'],
                                    columns=['c1', 'c2', 'c3', 'c4'])
df

      c1     c2    c3   c4
f1     0      1     3    4
f2  mico  perro  gato  oso

In [8]:
df.stack().reset_index()

  level_0 level_1      0
0      f1      c1      0
1      f1      c2      1
2      f1      c3      3
3      f1      c4      4
4      f2      c1   mico
5      f2      c2  perro
6      f2      c3   gato
7      f2      c4    oso

In [11]:
df_stacked = df.stack().reset_index().rename(columns={'level_0':'ex_filas', 'level_1':'ex_columnas', 0:'ex_valores'})
df_stacked

  ex_filas ex_columnas ex_valores
0       f1          c1          0
1       f1          c2          1
2       f1          c3          3
3       f1          c4          4
4       f2          c1       mico
5       f2          c2      perro
6       f2          c3       gato
7       f2          c4        oso

# 02. Método df.pivot() (Inverso método df.stack()) Formato largo a formato ancho

In [20]:
df_stacked.pivot(index='ex_filas', columns='ex_columnas', values='ex_valores')

ex_columnas    c1     c2    c3   c4
ex_filas
f1              0      1     3    4
f2           mico  perro  gato  oso

In [16]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [18]:
df.pivot(index='foo', columns='bar', values='baz')

bar  A  B  C
foo
one  1  2  3
two  4  5  6