# SQL

## What is SQL?

**SQL (Structured Query Language)** is a specific language designed to manipulate data stored in relational databases. It is particularly useful in handling structured data; that is, data that incorporates relationships between entities and variables.

However, SQL is merely the language that we use - we need some tools in order to deploy it on the datasets that we have. Below are some of the most important:

- **SQLite** is a library written in the C language that implements a small, self-contained, and full-featured SQL database engine. SQLite is the most widely used database engine in the world. It is built into all mobile phones and most computers and is included in countless applications that we use daily.

- **SQLAlchemy** is the library used for SQL and relational object mapping that gives developers the ability to use all the power and flexibility of SQL directly from Python.

- **PostgreSQL** is a free and open source relational database management system (RDBMS) that emphasizes extensibility and SQL compliance. It is possible to create an instance of this type of database engine in the cloud.

## Reading a SQLite data source

In [2]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('sqlite:///crime.db')
#engine=create_engine(f'postgresql://{DB_USERNAME}:{DB_PASSWORD}@localhost/postgres', max_overflow=20)
df = pd.read_sql("SELECT * from crime LIMIT 100", engine.connect(), parse_dates=('OCCURRED_ON_DATE',))
print(df.head())

  INCIDENT_NUMBER  OFFENSE_CODE    OFFENSE_CODE_GROUP   OFFENSE_DESCRIPTION  \
0      I182070945           619               Larceny    LARCENY ALL OTHERS
1      I182070943          1402             Vandalism             VANDALISM
2      I182070941          3410                 Towed   TOWED MOTOR VEHICLE
3      I182070940          3114  Investigate Property  INVESTIGATE PROPERTY
4      I182070938          3114  Investigate Property  INVESTIGATE PROPERTY

  DISTRICT REPORTING_AREA SHOOTING    OCCURRED_ON_DATE  YEAR  MONTH  \
0      D14            808     None 2018-09-02 13:00:00  2018      9
1      C11            347     None 2018-08-21 00:00:00  2018      8
2       D4            151     None 2018-09-03 19:27:00  2018      9
3       D4            272     None 2018-09-03 21:16:00  2018      9
4       B3            421     None 2018-09-03 21:05:00  2018      9

  DAY_OF_WEEK  HOUR    UCR_PART       STREET        Lat       Long  \
0      Sunday    13    Part One   LINCOLN ST  42.357791 -71.139371
1     Tuesday     0    Part Two     HECLA ST  42.306821 -71.060300
2      Monday    19  Part Three  CAZENOVE ST  42.346589 -71.072429
3      Monday    21  Part Three   NEWCOMB ST  42.334182 -71.078664
4      Monday    21  Part Three     DELHI ST  42.275365 -71.090361

                      Location
0  (42.35779134, -71.13937053)
1  (42.30682138, -71.06030035)
2  (42.34658879, -71.07242943)
3  (42.33418175, -71.07866441)
4  (42.27536542, -71.09036101)

The columns in this dataset include:

- **INCIDENT_NUMBER**: An ID used to refer to the incident
- **OFFENSE_CODE**: A code corresponding to the type of offense
- **OFFENSE_CODE_GROUP**: Brief phrase describing the group which the offense type resides in
- **OFFENSE_DESCRIPTION**: Brief description of the offense
- **DISTRICT**: The code of the district where the offense occurred
- **REPORTING_AREA**: The reporting area of the offense
- **SHOOTING**: Whether or not there was a shooting involved
- **OCCURED_ON_DATE**: The time when the offense occurred
- **YEAR**: The year of the offense
- **MONTH**: The month of the offense
- **DAY_OF_WEEK**: The day of the week of the offense
- **HOUR**: The hour of the offense
- **UCR_PART**: The UCR part where the offense occurred
- **STREET**: The street where the offense occurred
- **Lat**: Latitude of the offense
- **Long** Longitude of the offense
- **Location**: Latitude + longitude of the offense

## Components of a SQL query

There are a few keywords we need to know which correspond to parts of a SQL query. They are:

- [**SELECT**](https://www.w3schools.com/sql/sql_ref_select.asp): This refers to the columns you want to see in your results

- [**FROM**](https://www.w3schools.com/sql/sql_ref_from.asp): This refers to the table or tables you want to fetch your results from

- [**WHERE**](https://www.w3schools.com/sql/sql_ref_where.asp): This is a filter for **FROM**; i.e. this filters the tables in the **FROM** portion before choosing the columns listed in the **SELECT** portion

- [**GROUP BY**](https://www.w3schools.com/sql/sql_ref_group_by.asp): This groups the rows that have the same values for a specific column

- [**HAVING**](https://www.w3schools.com/sql/sql_ref_having.asp): This is a filter for the **GROUP BY** portion, much like **WHERE** is one for the **FROM** portion

- [**ORDER BY**](https://www.w3schools.com/sql/sql_ref_order_by.asp): This sets how the results will be listed (either ascending or descending). It is ascending by default.

- [**LIMIT**](https://www.w3schools.com/sql/sql_ref_top.asp): This sets the upper bound on how many rows the query returns

In [3]:
print(pd.read_sql(
    
    '''
    SELECT COUNT(INCIDENT_NUMBER), OFFENSE_CODE 
       
    FROM crime 
       
    WHERE DAY_OF_WEEK = 'Monday' 
       
    GROUP BY OFFENSE_CODE_GROUP
       
    HAVING COUNT(INCIDENT_NUMBER) > 15
       
    ORDER BY COUNT(INCIDENT_NUMBER) DESC
       
    LIMIT 10
    '''
    
    , engine.connect()))

   COUNT(INCIDENT_NUMBER)  OFFENSE_CODE
0                    5119          3820
1                    3732           613
2                    3441          3006
3                    2666          3115
4                    2656          2647
5                    2548          1843
6                    2132          1402
7                    2062           802
8                    1925          3301
9                    1701          3410

### SELECT, FROM, WHERE

Let's write a query that displays 100 records from the crime dataset that correspond to vandalism:

In [4]:

print(pd.read_sql(
    
    '''
    SELECT * 
    FROM crime 
    WHERE OFFENSE_CODE_GROUP = 'Vandalism' 
    LIMIT 100
    '''
    
    , engine.connect()))

   INCIDENT_NUMBER  OFFENSE_CODE OFFENSE_CODE_GROUP OFFENSE_DESCRIPTION  \
0       I182070943          1402          Vandalism           VANDALISM
1       I182070887          1402          Vandalism           VANDALISM
2       I182070881          1402          Vandalism           VANDALISM
3       I182070872          1402          Vandalism           VANDALISM
4       I182070822          1402          Vandalism           VANDALISM
..             ...           ...                ...                 ...
95      I182069035          1402          Vandalism           VANDALISM
96      I182069034          1402          Vandalism           VANDALISM
97      I182069012          1415          Vandalism            GRAFFITI
98      I182068988          1402          Vandalism           VANDALISM
99      I182068983          1402          Vandalism           VANDALISM

   DISTRICT REPORTING_AREA SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH  \
0       C11            347     None  2018-08-21 00:00:00  2018      8
1        D4            149     None  2018-09-01 12:00:00  2018      9
2       C11            356     None  2018-09-03 15:00:00  2018      9
3        C6            205     None  2018-08-31 17:00:00  2018      8
4        C6            231     None  2018-09-03 13:44:00  2018      9
..      ...            ...      ...                  ...   ...    ...
95      C11            337     None  2018-08-27 21:00:00  2018      8
96       A7            907     None  2018-08-28 14:56:00  2018      8
97      C11            357     None  2018-08-28 13:00:00  2018      8
98       A7             26     None  2018-08-28 09:17:00  2018      8
99       C6            207     None  2018-08-26 02:20:00  2018      8

   DAY_OF_WEEK  HOUR  UCR_PART          STREET        Lat       Long  \
0      Tuesday     0  Part Two        HECLA ST  42.306821 -71.060300
1     Saturday    12  Part Two     W NEWTON ST  42.343858 -71.079535
2       Monday    15  Part Two      GENEVA AVE  42.298489 -71.063133
3       Friday    17  Part Two            A ST  42.347543 -71.050662
4       Monday    13  Part Two    E SEVENTH ST  42.332385 -71.030161
..         ...   ...       ...             ...        ...        ...
95      Monday    21  Part Two        WYOLA PL  42.308023 -71.074742
96     Tuesday    14  Part Two      CUNARD WAY  42.370428 -71.040962
97     Tuesday    13  Part Two       DAKOTA ST  42.299385 -71.069789
98     Tuesday     9  Part Two       BORDER ST  42.380933 -71.040239
99      Sunday     2  Part Two  MARINA PARK DR  42.353002 -71.045023

                       Location
0   (42.30682138, -71.06030035)
1   (42.34385799, -71.07953502)
2   (42.29848866, -71.06313294)
3   (42.34754258, -71.05066210)
4   (42.33238533, -71.03016099)
..                          ...
95  (42.30802300, -71.07474175)
96  (42.37042773, -71.04096159)
97  (42.29938509, -71.06978865)
98  (42.38093345, -71.04023929)
99  (42.35300247, -71.04502270)

[100 rows x 17 columns]

We can also use these keywords to show 10 incidents from the year 2018 with their respective description:

In [4]:
print(pd.read_sql(
    
    '''
    SELECT INCIDENT_NUMBER, OFFENSE_DESCRIPTION 
    FROM crime 
    WHERE YEAR = '2018' 
    LIMIT 10
    '''
    
    , engine.connect()))

  INCIDENT_NUMBER                         OFFENSE_DESCRIPTION
0      I182070945                          LARCENY ALL OTHERS
1      I182070943                                   VANDALISM
2      I182070941                         TOWED MOTOR VEHICLE
3      I182070940                        INVESTIGATE PROPERTY
4      I182070938                        INVESTIGATE PROPERTY
5      I182070936  M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY
6      I182070933                                  AUTO THEFT
7      I182070932                              VERBAL DISPUTE
8      I182070931                            ROBBERY - STREET
9      I182070929                              VERBAL DISPUTE

Finally, we can show the incidents that occurred after 7pm with their respective description, sorted in ascending order:

In [5]:
print(pd.read_sql(
    
    '''
    SELECT INCIDENT_NUMBER, HOUR, OFFENSE_DESCRIPTION 
    FROM crime 
    WHERE HOUR >= 19 
    ORDER BY INCIDENT_NUMBER ASC
    '''
    
    , engine.connect()))

      INCIDENT_NUMBER  HOUR                         OFFENSE_DESCRIPTION
0       I010370257-00    19                              WARRANT ARREST
1       I110177502-00    21                              WARRANT ARREST
2       I110177502-00    21                           ASSAULT & BATTERY
3       I110177502-00    21                              WARRANT ARREST
4       I110551302-00    22                              WARRANT ARREST
...               ...   ...                                         ...
71066      I182070933    21                                  AUTO THEFT
71067      I182070936    21  M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY
71068      I182070938    21                        INVESTIGATE PROPERTY
71069      I182070940    21                        INVESTIGATE PROPERTY
71070      I182070941    19                         TOWED MOTOR VEHICLE

[71071 rows x 3 columns]

### Exercise 1:

1. How many records are there in the dataset?
2. What types of incidents are there?
3. How many incidents are there in each district?
4. How many incidents are there in each district per year?

**Answer.** Shown below:

In [6]:
print(pd.read_sql(
    
    '''
    SELECT COUNT(*) AS Count 
    FROM crime
    '''
    
    , engine.connect()))

    Count
0  319073

- [**DISTINCT**](https://www.w3schools.com/sql/sql_distinct.asp): This is a keyword used to only return unique or different values in a query.

In [7]:
print(pd.read_sql(
    
    '''
    SELECT DISTINCT OFFENSE_CODE_GROUP AS Incident_Type 
    FROM crime
    '''
    
    , engine.connect()))

                                Incident_Type
0                                     Larceny
1                                   Vandalism
2                                       Towed
3                        Investigate Property
4             Motor Vehicle Accident Response
..                                        ...
62                                   Gambling
63                         INVESTIGATE PERSON
64                          HUMAN TRAFFICKING
65  HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE
66               Burglary - No Property Taken

[67 rows x 1 columns]

In [8]:
print(pd.read_sql(
    
    '''
    SELECT DISTRICT, COUNT(0) AS Count 
    FROM crime 
    GROUP BY DISTRICT
    '''
    
    , engine.connect()))

   DISTRICT  Count
0      None   1765
1        A1  35717
2       A15   6505
3        A7  13544
4        B2  49945
5        B3  35442
6       C11  42530
7        C6  23460
8       D14  20127
9        D4  41915
10      E13  17536
11      E18  17348
12       E5  13239

In [9]:
print(pd.read_sql(
    
    '''
    SELECT DISTRICT, YEAR, COUNT(0) AS Count 
    FROM crime 
    GROUP BY DISTRICT, YEAR

    '''
    
    , engine.connect()))

   DISTRICT  YEAR  Count
0      None  2015    128
1      None  2016    517
2      None  2017    576
3      None  2018    544
4        A1  2015   6015
5        A1  2016  10923
6        A1  2017  11375
7        A1  2018   7404
8       A15  2015   1027
9       A15  2016   1986
10      A15  2017   2167
11      A15  2018   1325
12       A7  2015   2426
13       A7  2016   4130
14       A7  2017   4264
15       A7  2018   2724
16       B2  2015   8687
17       B2  2016  15706
18       B2  2017  15680
19       B2  2018   9872
20       B3  2015   5617
21       B3  2016  11145
22       B3  2017  11195
23       B3  2018   7485
24      C11  2015   7364
25      C11  2016  13603
26      C11  2017  13281
27      C11  2018   8282
28       C6  2015   3941
29       C6  2016   7073
30       C6  2017   7247
31       C6  2018   5199
32      D14  2015   3280
33      D14  2016   6279
34      D14  2017   6509
35      D14  2018   4059
36       D4  2015   7204
37       D4  2016  12953
38       D4  2017  13157
39       D4  2018   8601
40      E13  2015   2801
41      E13  2016   5559
42      E13  2017   5514
43      E13  2018   3662
44      E18  2015   2740
45      E18  2016   5223
46      E18  2017   5612
47      E18  2018   3773
48       E5  2015   2158
49       E5  2016   4017
50       E5  2017   4309
51       E5  2018   2755

Let's also look at the latitude of these:

In [10]:
print(pd.read_sql(
    
    '''
    SELECT DISTRICT, SUM(LAT), MIN(LAT), MAX(LAT) 
    FROM crime 
    GROUP BY DISTRICT
    '''
    
    , engine.connect()))

   DISTRICT      SUM(LAT)   MIN(LAT)   MAX(LAT)
0      None  3.737971e+04  -1.000000  42.388445
1        A1  1.367341e+06  -1.000000  42.376181
2       A15  2.602454e+05  -1.000000  42.394213
3        A7  5.517058e+05  -1.000000  42.395042
4        B2  1.955296e+06  -1.000000  42.392146
5        B3  1.424981e+06  -1.000000  42.372579
6       C11  1.728712e+06  -1.000000  42.377463
7        C6  9.183247e+05  -1.000000  42.385841
8       D14  8.095232e+05  -1.000000  42.372466
9        D4  1.625734e+06  -1.000000  42.377552
10      E13  7.023851e+05  -1.000000  42.357826
11      E18  7.032510e+05  42.232413  42.357889
12       E5  5.403450e+05  -1.000000  42.356024

Let's cast it so it doesn't look so ugly:

In [11]:
print(pd.read_sql(
    
    '''
    SELECT DISTRICT, CAST(SUM(LAT) AS INT) AS Sum 
    FROM crime 
    GROUP BY DISTRICT
    '''
    
    , engine.connect()))

   DISTRICT      Sum
0      None    37379
1        A1  1367341
2       A15   260245
3        A7   551705
4        B2  1955295
5        B3  1424981
6       C11  1728711
7        C6   918324
8       D14   809523
9        D4  1625734
10      E13   702385
11      E18   703251
12       E5   540345

Let's pull the districts that have more than 10,000 incidents per year:

In [12]:
print(pd.read_sql(
    
    '''
    SELECT DISTRICT, YEAR, COUNT(0) AS Count 
    FROM crime 
    GROUP BY DISTRICT, YEAR 
    HAVING COUNT(*) > 10000
    '''
    
    , engine.connect()))

  DISTRICT  YEAR  Count
0       A1  2016  10923
1       A1  2017  11375
2       B2  2016  15706
3       B2  2017  15680
4       B3  2016  11145
5       B3  2017  11195
6      C11  2016  13603
7      C11  2017  13281
8       D4  2016  12953
9       D4  2017  13157

Sometimes, it is valuable to obtain a subset of a data string. In this case, we are going to extract the letters of the districts. This would allow us to, for example, aggregate all districts whose first letters match:

In [13]:
print(pd.read_sql(
    
    '''
    SELECT SUBSTR(DISTRICT,1,1) AS LETTER_D, YEAR, COUNT(0) AS Count 
    FROM crime 
    GROUP BY SUBSTR(DISTRICT,1,1), YEAR
    '''
    
    , engine.connect()))

   LETTER_D  YEAR  Count
0      None  2015    128
1      None  2016    517
2      None  2017    576
3      None  2018    544
4         A  2015   9468
5         A  2016  17039
6         A  2017  17806
7         A  2018  11453
8         B  2015  14304
9         B  2016  26851
10        B  2017  26875
11        B  2018  17357
12        C  2015  11305
13        C  2016  20676
14        C  2017  20528
15        C  2018  13481
16        D  2015  10484
17        D  2016  19232
18        D  2017  19666
19        D  2018  12660
20        E  2015   7699
21        E  2016  14799
22        E  2017  15435
23        E  2018  10190

## SQL JOINs

SQL also allows us to combine query results from multiple tables, using various `JOIN` functions:

<table class="tab">
   
  <tr>
    <td class="second" width="60%"><div align="left">(INNER) JOIN: returns records that have matching values in both tables</div></td>
    <td class="second"><img src="img_innerjoin.gif" width="200"></td>
  </tr>
  <td class="second" width="60%"><div align="left">LEFT (OUTER) JOIN: returns all records from the table to the left and matching records from the table to the right
</div></td>
    <td class="second"><img src="left.gif" width="200"></td>
  </tr>
</table>

<table class="tab">
   
  <tr>
    <td class="second" width="60%"><div align="left">RIGHT (OUTER) JOIN:returns all records from the table to the right of the join and matching records from the table to the left of the join</div></td>
    <td class="second"><img src="right.gif" width="200"></td>
  </tr>
  <td class="second" width="60%"><div align="left">FULL (OUTER) JOIN: Returns all records when there is a match in the table to the left or right of the join</div></td>
    <td class="second"><img src="full_outer.gif" width="200"></td>
  </tr>
</table>

In [5]:
# Create table offences
from sqlalchemy import *

meta = MetaData()

offence = Table('offence', meta,
    Column('OFFENSE_CODE', Integer, primary_key=True),
    Column('OFFENSE_CODE_GROUP', String(60), nullable=False, key='name')
)

offence.drop(engine, checkfirst=True)
offence.create(engine)

In [6]:
# We insert record in the table
engine.execute(offence.insert().values(OFFENSE_CODE = 1402, name = 'Vandalism'))

Here is an example of an `INNER JOIN`:

In [7]:
print(pd.read_sql(
    
    '''
    SELECT A.* 
    FROM crime A INNER JOIN offence B ON A.OFFENSE_CODE = B.OFFENSE_CODE
    '''
    
    , engine.connect()))

      INCIDENT_NUMBER  OFFENSE_CODE OFFENSE_CODE_GROUP OFFENSE_DESCRIPTION  \
0          I182070943          1402          Vandalism           VANDALISM
1          I182070887          1402          Vandalism           VANDALISM
2          I182070881          1402          Vandalism           VANDALISM
3          I182070872          1402          Vandalism           VANDALISM
4          I182070822          1402          Vandalism           VANDALISM
...               ...           ...                ...                 ...
15149      I152049493          1402          Vandalism           VANDALISM
15150      I152049477          1402          Vandalism           VANDALISM
15151      I152049463          1402          Vandalism           VANDALISM
15152   I142049917-00          1402          Vandalism           VANDALISM
15153   I142049917-00          1402          Vandalism           VANDALISM

      DISTRICT REPORTING_AREA SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH  \
0          C11            347     None  2018-08-21 00:00:00  2018      8
1           D4            149     None  2018-09-01 12:00:00  2018      9
2          C11            356     None  2018-09-03 15:00:00  2018      9
3           C6            205     None  2018-08-31 17:00:00  2018      8
4           C6            231     None  2018-09-03 13:44:00  2018      9
...        ...            ...      ...                  ...   ...    ...
15149       B3            444     None  2015-06-15 05:26:00  2015      6
15150       B3            466     None  2015-06-15 12:00:00  2015      6
15151      E18            493     None  2015-06-15 00:03:00  2015      6
15152      C11            395     None  2015-09-03 13:00:00  2015      9
15153      C11            395     None  2015-09-03 13:00:00  2015      9

      DAY_OF_WEEK  HOUR  UCR_PART          STREET        Lat       Long  \
0         Tuesday     0  Part Two        HECLA ST  42.306821 -71.060300
1        Saturday    12  Part Two     W NEWTON ST  42.343858 -71.079535
2          Monday    15  Part Two      GENEVA AVE  42.298489 -71.063133
3          Friday    17  Part Two            A ST  42.347543 -71.050662
4          Monday    13  Part Two    E SEVENTH ST  42.332385 -71.030161
...           ...   ...       ...             ...        ...        ...
15149      Monday     5  Part Two       ESMOND ST  42.298620 -71.085110
15150      Monday    12  Part Two      ESTELLA ST  42.286874 -71.094571
15151      Monday     0  Part Two   LEXINGTON AVE  42.262551 -71.115822
15152    Thursday    13  Part Two  DORCHESTER AVE  42.285260 -71.064441
15153    Thursday    13  Part Two  DORCHESTER AVE  42.285260 -71.064441

                          Location
0      (42.30682138, -71.06030035)
1      (42.34385799, -71.07953502)
2      (42.29848866, -71.06313294)
3      (42.34754258, -71.05066210)
4      (42.33238533, -71.03016099)
...                            ...
15149  (42.29861988, -71.08511004)
15150  (42.28687441, -71.09457079)
15151  (42.26255067, -71.11582205)
15152  (42.28526024, -71.06444063)
15153  (42.28526024, -71.06444063)

[15154 rows x 17 columns]

Here is an `INNER JOIN` with `COUNT`:

In [17]:
print(pd.read_sql(
    
    '''
    SELECT COUNT(0) 
    FROM crime A INNER JOIN offence B ON A.OFFENSE_CODE = B.OFFENSE_CODE
    '''
    
    , engine.connect()))

   COUNT(0)
0     15154

Here is a `LEFT JOIN` with `COUNT`:

In [18]:
print(pd.read_sql(
    
    '''
    SELECT COUNT(0) 
    FROM crime A LEFT JOIN offence B ON A.OFFENSE_CODE = B.OFFENSE_CODE
    '''
    
    , engine.connect()))

   COUNT(0)
0    319073

## Recap

Let's conclude by revisiting the initial query we wrote at the beginning of this lecture, and understanding how all the parts work:

In [19]:
print(pd.read_sql(
    
    '''
    SELECT COUNT(INCIDENT_NUMBER), OFFENSE_CODE 
       
    FROM crime 
       
    WHERE DAY_OF_WEEK = 'Monday' 
       
    GROUP BY OFFENSE_CODE_GROUP
       
    HAVING COUNT(INCIDENT_NUMBER) > 15
       
    ORDER BY COUNT(INCIDENT_NUMBER) DESC
       
    LIMIT 10
    '''
    
    , engine.connect()))

   COUNT(INCIDENT_NUMBER)  OFFENSE_CODE
0                    5119          3820
1                    3732           613
2                    3441          3006
3                    2666          3115
4                    2656          2647
5                    2548          1843
6                    2132          1402
7                    2062           802
8                    1925          3301
9                    1701          3410